{% extends "common/_container.html" %}
{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    {% with id="name", name="姓名",value=item.name, underline="true" %}
                        {% include "common/tags/input.html" %}
                    {% endwith %}
                    {% with id="user_id", name="用户编号",value=item.user_id,readonly="readonly", underline="true" %}
                        {% include "common/tags/input.html" %}
                    {% endwith %}
                    {% with id="temperature", name="温度",value=item.temperature, underline="true" %}
                        {% include "common/tags/input.html" %}
                    {% endwith %}
                </div>

                <div class="col-sm-6">
                    {% with id="matter", name="来访事宜",value=item.matter, underline="true" %}
                        {% include "common/tags/select.html" %}
                    {% endwith %}
                    {% with id="comment", name="备注",value=item.comment, underline="true" %}
                        {% include "common/tags/input.html" %}
                    {% endwith %}
                    {% with id="user_type", name="职业",value=item.user_type, underline="true" %}
                        {% include "common/tags/select.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    {% with btnCss="info", name="提交", id="ensure", icon="fa-check", clickFun="CmsCheckLogInfoDlg.editSubmit()" %}
                        {% include "common/tags/button.html" %}
                    {% endwith %}
                    {% with  btnCss="danger", name="取消", id="cancel", icon="fa-eraser", clickFun="CmsCheckLogInfoDlg.close()" %}
                        {% include "common/tags/button.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/statics/js/cms_check/check_info.js"></script>
{% endblock %}