{#@/*#}
{#    表单中input框标签中各个参数的说明:#}
{##}
{#    hidden : input hidden框的id#}
{#    file: 追加file#}
{#    id : input框id#}
{#    name : input框名称#}
{#    readonly : readonly属性#}
{#    clickFun : 点击事件的方法名#}
{#    style : 附加的css属性#}
{#@*/#}
<div class="form-group">
    <label class="col-sm-3 control-label">{{ name }}</label>
    <div class="col-sm-9">
        <input class="form-control" required id="{{ id }}" name="{{ id }}"
            {% if value is defined %}
                value="{{value}}"
            {% endif %}
            {% if type is defined %}
                type="{{type}}"
            {% else %}
               type="text"
            {% endif %}
            {% if readonly is defined %}
                readonly="{{ readonly }}"
            {% endif %}
            {% if clickFun is defined %}
                onclick="{{ clickFun }}"
            {% endif %}
            {% if style is defined %}
                style="{{ style }}"
            {% endif %}
            {% if disabled is defined %}
                disabled="{{ disabled }}"
            {% endif %}
        >
        {% if hidden is defined %}
            <input class="form-control" type="hidden" id="{{ hidden }}" value="{{ hiddenValue }}">
        {% endif %}
        {% if selectFlag is defined %}
             <div id="{{ selectId }}" style="display: none; position: absolute; z-index: 200;">
                <ul id="{{ selectTreeId }}" class="ztree tree-box" style="{{ selectStyle }}"></ul>
            </div>
        {% endif %}

    </div>
</div>
{#@/*#}
{#    注释：#}
{#    此处因为需求加入文件上传btn#}
{#@*/#}
{% if file is defined %}
    <input id="file" type="file" style="padding-left: 35px;" name="file" underline="true"/>
{% endif %}
{% if underline is defined %}
    <div class="hr-line-dashed"></div>
{% endif %}


