{% extends "common/_container.html" %}
{% block content %}
<div class="container-fluid" style="padding: 0 !important;">
	<div class="row">
		<div class="col-sm-12">
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					欢迎使用小区进出管理系统
				</div>
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					小区管理员专用工作后台
				</div>
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<a target="view_window" href="https://www.bilibili.com/v/pay/charge?upmid=385873520&upurl=%2F%2Fspace.bilibili.com%2F385873520&upname=Auto-show&upavatar=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Fface%2F433b6295ef6fd1f80b18c36334a73be1cb8bab15.jpg&oid=385873520&otype=up&from=zone">
						充电入口直达——auto-show</a>
				</div>
		</div>
	</div>
</div>
{% endblock %}